repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "c85477da8a610a87133299f996f8d8a593aa7bff" # frozen: 1.8.0
    hooks:
      - id: poetry-check
      - id: poetry-lock
        args:
          - "--no-update"

  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: 41b6bf233c52f08f344e09107bdda253e6d8b57a # frozen: 1.1.0
    hooks:
      - id: sync_with_poetry
        pass_filenames: false
        files: ".pre-commit-config.yaml|poetry.lock"
        args: ["poetry.lock"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)

  - repo: https://github.com/psf/black
    rev: 3702ba224ecffbcec30af640c149f231d90aebdb # frozen: 24.4.2
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "fc260393cc4ec09f8fc0a5ba4437f481c8b55dc1" # frozen: v3.0.3
    hooks:
      - id: prettier

  - repo: https://github.com/rstcheck/rstcheck
    rev: "1fb8ceaa49b8492ad630d689fcf216c8a53c9542" # frozen: v6.2.4
    hooks:
      - id: rstcheck
        additional_dependencies: [sphinx]
        args: ["--config", "docs/rstcheck.cfg"]

  - repo: local
    hooks:
      - id: pylama
        name: pylama
        entry: poetry run pylama
        language: system
        types: [python]

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.9"
    hooks:
      - id: bandit
        files: "^req2flatpak.py$"
        args:
          - "--aggregate"
          - "vuln"
          - "-ll"
          - "-q"
          - "-f"
          - "custom"
          - "--msg-template"
          - "--------------------------------------------------\n
            {relpath}:{line}:\n
            [{test_id:^8}] Severity: {severity} Confidence: {confidence}\n
            {msg}"
