[tool.poetry]
name = "req2flatpak"
version = "0.1.0"
description = "Generates a flatpak build manifest to install python packages defined in requirements.txt files."
authors = ["johannesjh <johannesjh@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
packaging = "^21.3"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"

[tool.poetry.extras]
packaging = ["packaging"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
